.socials {
    padding: 0;
}
.social {
    display: inline-block;
    margin: 0 2px;
    &__link {
        display: inline-block;
        text-transform: none;
        color: red;
        opacity: .9;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border: 2px solid red;
        border-radius: 50%;
        text-align: center;
        @include hover {
            color: white;
            background-color: red;
        }
    }
}